requests==2.31.0
dotenv
langchain==0.3.19
langchain-core==0.3.40
langchain-community==0.3.18
langchain-text-splitters==0.3.6
langchain-huggingface==0.1.2
langchain-aws==0.2.14

pinecone
boto3>=1.37.0
beautifulsoup4

numpy==1.26.4

feedparser
greenlet==3.0.3

